#wrap {
    width: 1250px;
    margin: 0 auto;
}

header {
    display: flex;
}

.logo {
    width: 250px;
    height: 100px;
    background-color: #EAE9EE;
}

.nav {
    width: 1000px;
    height: 100px;
    background-color: #C2C3D6;
}

.section01 {
    height: 440px;
    background-color: #E1E1F5;
}

.section02 {
    display: flex;
}

.section02>div {
    width: 50%;
}

.section02_left {
    height: 440px;
    background-color: #CACBE4;
}

.right_top {
    height: 220px;
    background-color: #B1B2D5;
}

.right_bottom {
    height: 220px;
    background-color: #7578B6;
}

footer {
    height: 100px;
    background-color: #424A75;
}

@media (max-width: 680px) {
    #wrap {
        width: 100%;
    }

    .logo {
        display: none;
    }

    .nav {
        width: 100%;
    }

    .section02_left {
        display: none;
    }

    .section01 {
        width: 100%;
        height: 33.3%;
    }

    .section02 {
        height: 587px;
    }
    .section02>div {
        width: 100%;
    }
    .section02>div>div{
        height: 50%;
    }
    main {
        height: 880px;
    }
    .section02_left {
        display: none;
    }

    .section02_right>div{
        height: 50%;
    }

}