.wrap{
    width: 1250px;
    margin: 0 auto;
}
.header{
    display: flex;
}
.logo{
    width: 250px;
    height: 100px;
    background-color: #eeeee9;
}
.nav{
    width: 1000px;
    height: 100px;
    background-color: #d6ccc2;
}
.main_top{
    width: 100%;
    height: 540px;
    background-color: #F5ECE1;
}
.main_bottom{
    display: flex;
}
.left{
    width: 625px;
    height: 440px;
    background-color: #E4D6CA;
}
.right{
    width: 625px;
    height: 440px;
    background-color: #D5BEB1;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #D6CCC2;
}